.bg {
	background-color:#26495c;
}

.jumbo {
	background-color:#90AFC5;
}

.wavebtn {
	background-color:#66A5AD;
	border:none;
	color:#fff;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	padding:15px 32px;
}
.wavebtn:hover {
	background-color:#021C1E;
	border:none;
	color:#fff;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	padding:15px 32px;
}

.shadow {
	box-shadow: 10px 10px 5px grey;
	margin:50px 5px;
}

.loginform {
	padding:2em;
	margin-top:50px;
	background-color:#464545;
	color:#c4c4c4;
	border-top-width:2px;
	border-radius:8px;
	height:370px;
}

.loginbtn {
	margin-bottom:1em;
	background-color:#2a4e96;
	color:#fff;
	border-radius:2px;
}
.grid {
	display: grid;
	grid-template-columns: 2.3fr 1fr;
}

.buttons {
	display:flex;
	flex-direction: column;
	margin-top:2em;
}

.landing{
	display:flex;
	align-items: center;
}

