@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
    background-color:#a7beae;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
